@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */


.step {
    position: relative;
  }
  .arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #007bff;
    margin: 10px auto;
  }

  .custom-ol {
    list-style-type: none; /* Remove default numbering */
    counter-reset: custom-counter; /* Initialize counter */
}

.custom-ol li {
    position: relative;
    padding-left: 1.5em; /* Adjust space for circle */
    margin-bottom: 0.5em; /* Add space between items */
}

.custom-ol li::before {
    content: '•'; /* Unicode character for circle */
    position: absolute;
    left: 0;
    color: black; /* Circle color */
    font-size: 1.2em; /* Adjust circle size */
    line-height: 1; /* Adjust line height */
}

.table-bg {
  background: linear-gradient(to right, #3b82f6, #60a5fa); /* Match these colors with your gradient */
  color: white;
}

.table-bg th, .table-bg td {
  background: inherit;
}
