@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
body{
    margin-left:10px;
    margin-right:10px;
}
  
.step {
    position: relative;
  }
  .arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #007bff;
    margin: 10px auto;
  }
  
